body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #f2f2f2;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: white;
    /* background: #007bff; */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
  }
  
  input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .btn {
    padding: 10px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px;
  }
  
  .btn:hover {
    background: #0056b3;
    cursor: pointer;
  }
  
  .tab {
    display: none;
  }
  
  .active {
    display: block;
  }